{% block head %}
<link rel="stylesheet" href="/TASKER/static/css/public_chat.css">
{% endblock %}


<div class="public_chat">
    <div class="public_chat-title">
        <div class="h1_title">
            <h1>TOPUS-CHAT</h1>
        </div>
    </div>
    <div class="pub_messages">
        <div class="pub_messages-content mCustomScrollbar _mCS_1 mCS_no_scrollbar">
            <div class="error_chat hidden"></div>
        </div>
    </div>
    <div class="message-box">
        <textarea id="pub_textarea" type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
    </div>
</div>