{% block head %}
<link rel="stylesheet" href="/TASKER/static/css/public_chat.css">
{% endblock %}


<div class="public_chat">
    <div class="public_chat-title">
        <div class="h1_title">
            <h1>TOPUS-CHAT</h1>
        </div>
    </div>
    <div class="pub_messages">
        <div class="pub_messages-content mCustomScrollbar _mCS_1 mCS_no_scrollbar">
            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
                tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                    style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="pub_msg">
                        <div class="head_pub">TestUser</div>
                        <div class="message new">
                            Hi there, I'm Fabio and
                            you?ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                        </div>
                    </div>
                    <div class="pub_msg_self">
                        <div class="head_pub">Ви</div>
                        <div class="message message-personal new">
                            dasdasdssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
    </div>
</div>