@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}

body {
    /* height: 100vh; */
    display: block;
}

.right_chat {
    position: fixed;
    bottom: 0px;
    right: 5px;
    width: 450px;
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px #3a9fc4;
    flex-direction: row;
    display: flex;
    overflow: hidden;
}


.right_chat .left-menu {
    width: 29%;
    box-sizing: content-box;
    height: 100%;
    background: #434753;
    overflow: auto;
    scrollbar-width: none;
}

.right_chat .chat {
    width: 72%;
    height: 100%;
    background: #f1f5f8;
}

.right_chat .chat .info {
    display: inline-flex;
    flex-direction: column;
    vertical-align: 40px;
    /* width: calc(100% - 65px - 50px); */
}

.right_chat .chat .info .name {
    font-weight: 600;
    color: #434753;
    height: 50%;
}

.right_chat .chat .info .count {
    color: #6d738d;
}

.right_chat .chat i.fa {
    color: #d6d9de;
    vertical-align: 25px;
}


.right_chat .list-friends {
    font-size: 13px;
    height: 90%;
    padding: 0%;
    margin-top: 0px
}


.right_chat .list-friends>li {
    display: flex;
    /* margin: 0 0 0px 5px; */
    user-select: none;
}

.right_chat .list-friends .info {
    flex: 1;
    padding-bottom: 3px;
    padding-left: 5px;
    cursor: pointer;
}

.right_chat .list-friends .user {
    color: #fff;
    margin-top: 7px;
}

.right_chat .status {
    position: relative;
    margin-left: 14px;
    color: #a8adb3;
    margin-bottom: 3px;
}

.right_chat .off:after,
.right_chat .on:after {
    content: '';
    left: -12px;
    top: 5px;
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.right_chat .off:after {
    background: #fd8064;
}

.right_chat .on:after {
    background: #62bf6e;
}

.right_chat .top {
    height: 40px;
    background-color: #e6e6e6;
    padding-left: 5px;
}

.right_chat .messages {
    height: 75%;
    list-style: none;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: auto;
    padding-left: 5px;
}

.right_chat .messages::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.right_chat .messages li {
    margin: 10px;
    transition: all .5s;
}

.right_chat .messages li:after {
    content: '';
    clear: both;
    display: block;
}

.right_chat .messages li .head {
    font-size: 13px;
}

.right_chat .messages li .name {
    font-weight: 600;
    font-size: 110%;
}

.right_chat .messages li .name:after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 6px;
}

.time {
    color: #b7bccf;
}


.right_chat .messages li .message {
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 25px;
    max-width: 500px;
    word-wrap: break-word;
    float: right;
    min-width: 50px;
    justify-content: center;
    display: flex;
}

.right_chat .messages li .message:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -12px;
    border-bottom: 12px solid #62bf6e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


.right_chat .messages li.friend-with-a-SVAGina .name:after {
    background-color: #62bf6e;
    left: -20px;
    top: 6px;
}

.right_chat .messages li.friend-with-a-SVAGina .message {
    background-color: #62bf6e;
    float: left;
}

.right_chat .messages li.friend-with-a-SVAGina .message:before {
    left: 16px;
    border-bottom-color: #62bf6e;
}

.right_chat .messages li.i .head {
    text-align: right;
}

.right_chat .messages li.i .name:after {
    background-color: #7bc4ef;
    right: -20px;
    top: 6px;
}

.right_chat .messages li.i .message {
    background-color: #7bc4ef;
}

.right_chat .messages li.i .message:before {
    right: 16px;
    border-bottom-color: #7bc4ef;
}

.right_chat .write-form {
    height: 85px;
    background-color: #e6e6e6;
}

.right_chat .write-form textarea {
    height: 35px;
    margin: 10px 2%;
    width: 95%;
    outline: none;
    border: none;
    border-radius: 3px;
    resize: none;
}

.right_chat .write-form textarea:before {
    content: '';
    clear: both;
}

.right_chat .avatar>img {
    border-color: #62bf6e;
    margin: 10px;
    margin-right: 5px;
}

.right_chat .avatar {
    display: inline-block;
}

.right_chat .send {
    color: #7ac5ef;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    user-select: none;
}

.right_chat i.fa-file-o {
    margin-left: 15px;
}

.right_chat i.fa-picture-o {
    margin-left: 5%;
}

.bottom_line {
    color: white;
    border-right: 1px solid white;
    margin: 0;
}

.search input {
    outline: none;
    border: none;
    background: none;
}

.search {
    position: relative;
}

.search input[type=submit] {
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
}

.search input[type=search] {
    background-color: #696c75;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

#searchResults {
    list-style-type: none;
}

#searchResults>li {
    display: flex;
    user-select: none;
    border-left: 3px solid #ffc516;
    border-bottom: 2px solid #ffc516;
}
.list-friends .info>li {
    display: flex;
    user-select: none;
    border-left: 3px solid #ffc516;
    border-bottom: 2px solid #ffc516;
}

/* .active-chat {
    display: block;
}

.chat {
    display: none;
} */

.text_friends {
    font-size: 15px;
    color: #9eb0ff;
    text-align: center;
    margin-bottom: 10px;
}

.empty_friends {
    text-align: center;
    font-size: 15px;
    color: #ff676f;
}

.send_friendship {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.hidden {
    display: none !important;
}

.empty-chat {
    display: block;
    position: fixed;
    bottom: 225px;
    right: 70px;
    /* align-self: flex-end; */
}

.error_message {
    display: block;
    position: fixed;
    bottom: 380px;
    color: #c40000;
    font-size: 17px;
}

.ok_message {
    display: block;
    position: fixed;
    bottom: 380px;
    color: green;
    font-size: 17px;
}


/* notification */
:root {
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(230, 238, 249, 0.5);
}

.container {
    position: fixed;
    right: 0;
    bottom: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
    max-width: 370px;
}

.tabs * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 170px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in;
}

input[type="radio"]:checked+label {
    color: var(--primary-color);
}

input[type="radio"]:checked+label>.notification {
    background-color: var(--primary-color);
    color: #fff;
}

input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
    transform: translateX(100%);
}

input[id="radio-3"]:checked~.glider {
    transform: translateX(200%);
}

.glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 115px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}


.add-friend-btn {
    background-color: blue;
    color: white;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
}

.accept-friend-btn {
    background-color: green;
    color: white;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
}

.declain-friend-btn {
    background-color: red;
    color: white;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
}
.delete-friend-btn {
    background-color: red;
    color: white;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
}

.selected_user {
    border: 3px solid blue
}

.request_friendship {
    display: flex;
    float: right;
    margin-top: 10px;
}
.remove_friendship {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}